pkgbase = kodi-omega
	pkgver = 20.90.900+git20240316.6ad6353
	pkgrel = 1
	url = https://kodi.tv
	arch = aarch64
	arch = x86_64
	license = GPL2
	makedepends = afpfs-ng
	makedepends = bluez-libs
	makedepends = cmake
	makedepends = curl
	makedepends = doxygen
	makedepends = git
	makedepends = glew
	makedepends = gperf
	makedepends = hicolor-icon-theme
	makedepends = java-environment<21
	makedepends = fmt
	makedepends = libaacs
	makedepends = libass
	makedepends = libbluray
	makedepends = libcdio
	makedepends = libcec
	makedepends = libgl
	makedepends = mariadb-libs
	makedepends = libmicrohttpd
	makedepends = libmodplug
	makedepends = libmpeg2
	makedepends = libnfs
	makedepends = libplist
	makedepends = libpulse
	makedepends = libva
	makedepends = libva-vdpau-driver
	makedepends = libxrandr
	makedepends = libxslt
	makedepends = lirc
	makedepends = lzo
	makedepends = mesa
	makedepends = nasm
	makedepends = python-pycryptodomex
	makedepends = python-pillow
	makedepends = python-pybluez
	makedepends = python-simplejson
	makedepends = shairplay
	makedepends = smbclient
	makedepends = sndio
	makedepends = spdlog
	makedepends = taglib
	makedepends = tinyxml
	makedepends = swig
	makedepends = upower
	makedepends = giflib
	makedepends = rapidjson
	makedepends = ghostscript
	makedepends = meson
	makedepends = gtest
	makedepends = graphviz
	makedepends = pcre
	makedepends = libdisplay-info
	makedepends = tinyxml2
	makedepends = flatbuffers
	makedepends = wayland-protocols
	makedepends = waylandpp
	makedepends = libxkbcommon
	makedepends = libinput
	noextract = libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz
	noextract = libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = ffmpeg-6.1.1.tar.gz
	noextract = crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	noextract = fstrcmp-0.7.D001.tar.gz
	noextract = libudfread-1.1.2.tar.gz
	options = !lto
	source = git+https://github.com/herrnst/xbmc.git#commit=6ad6353c06bee637448bbfd0d86686e84defbc08
	source = libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdcss/archive/1.4.3-Next-Nexus-Alpha2-2.tar.gz
	source = libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdnav/archive/6.1.1-Next-Nexus-Alpha2-2.tar.gz
	source = libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdread/archive/6.1.3-Next-Nexus-Alpha2-2.tar.gz
	source = ffmpeg-6.1.1.tar.gz::https://github.com/FFmpeg/FFmpeg/archive/refs/tags/n6.1.1.tar.gz
	source = https://code.videolan.org/videolan/dav1d/-/archive/1.4.0/dav1d-1.4.0.tar.bz2
	source = http://mirrors.kodi.tv/build-deps/sources/crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	source = http://mirrors.kodi.tv/build-deps/sources/fstrcmp-0.7.D001.tar.gz
	source = http://mirrors.kodi.tv/build-deps/sources/libudfread-1.1.2.tar.gz
	source = cheat-sse-build.patch
	source = depends-fixup.patch
	source = ffmpeg-extraversion.patch
	b2sums = SKIP
	b2sums = 2f503d3ab767094958f7ec10b4ad11ffd02665deee571c8f3c739bef5fc7e2ff84babc5a3fdee638dc095f896b72fe3ce65e6b688674cb5f7b7b77190992688c
	b2sums = db4d05836d8fbb3637ae50bdbfc0e4b612ee6b3be24addfea94ce772c3bf28d58b63a3f252d6f9f016f72f8cbb841cc1820b091226b136f4c4664385a32da73c
	b2sums = c94feb5a03a12efa5b7767965118d2500a088299ea36f3b82e46d157e45893e6b04503cb50f179ca681bac914457607fab26acfa6e304752b355c407578572d1
	b2sums = c8328096181eb59bdba456986271ed2a34aa34180114d0d2feeadc0bdf51e8fcd7cff07aa4b1e40537bde29e6984d8c705c9eb295c70ac233bbfb11509dea6da
	b2sums = 121b29e2991f498e6f2201d85db13b556e4155f7abcab3e59736bf6873810c4fa942a7a7cc5948f230ada9ef9fccf04bcba0e77263273f119bdf08391f99925a
	b2sums = 0f78a8ab5a420297f666b3b8156d499a9141ec25c049d4d2bb2ba594dc585abe211a149b83c605cce4f5530207231a065d5f3a87a0c969781de8c6381afa2527
	b2sums = a8b68fcb8613f0d30e5ff7b862b37408472162585ca71cdff328e3299ff50476fd265467bbd77b352b22bb88c590969044f74d91c5468475504568fd269fa69e
	b2sums = 1801d84a0ca38410a78f23e7d44f37e6d53346753c853df2e7380d259ce1ae7f0c712825b95a5753ad0bc6360cfffe1888b9e7bc30da8b84549e0f1198248f61
	b2sums = 6d647177380c619529fb875374ec46f1fff6273be1550f056c18cb96e0dea8055272b47664bb18cdc964496a3e9007fda435e67c4f1cee6375a80c048ae83dd0
	b2sums = f9be4fa91f79fada1e0d2e3120bed361388e8fd45dfc3c780c141eca2cb2e9b7fa1c11d029315505c3f22bdf55d31b96c062ddca807fc458169e27d9e20206a7
	b2sums = 05213eab0c9f99fa9ea67bc7de49888b2e055dba360a3a4db62c90686a2f802c86965e9982f1217c7244b97214a532c9765be022b78e7ccaf6af79b6dfc578e5

pkgname = kodi-omega
	pkgdesc = A software media player and entertainment hub for digital media (patched Omega branch)
	depends = bluez-libs
	depends = curl
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = fmt
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = mariadb-libs
	depends = mesa
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sndio
	depends = spdlog
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	depends = pcre
	depends = libdisplay-info
	depends = tinyxml2
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = upower: Display battery level
	provides = kodi=20.90.900+git20240316.6ad6353
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	conflicts = kodi
	conflicts = kodi-x11
	conflicts = kodi-wayland
	conflicts = kodi-gbm
	conflicts = kodi-git
	replaces = kodi
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm
	replaces = kodi-git

pkgname = kodi-omega-eventclients
	pkgdesc = Kodi Event Clients (patched Omega branch)
	optdepends = kodi: local machine eventclient use
	optdepends = python: most eventclients are implemented in python
	provides = kodi-eventclients=20.90.900+git20240316.6ad6353
	conflicts = kodi-eventclients
	conflicts = kodi-git-eventclients

pkgname = kodi-omega-tools-texturepacker
	pkgdesc = Kodi Texturepacker tool (patched Omega branch)
	depends = libpng
	depends = giflib
	depends = libjpeg-turbo
	depends = lzo
	provides = kodi-tools-texturepacker=20.90.900+git20240316.6ad6353
	conflicts = kodi-tools-texturepacker
	conflicts = kodi-git-tools-texturepacker

pkgname = kodi-omega-dev
	pkgdesc = Kodi dev files (patched Omega branch)
	depends = kodi-omega
	provides = kodi-dev=20.90.900+git20240316.6ad6353
	conflicts = kodi-dev
	conflicts = kodi-git-dev

pkgname = kodi-omega-ffmpeg-dev
	pkgdesc = Kodi FFmpeg dev files (patched Omega branch)
	depends = kodi-omega
	provides = kodi-ffmpeg-dev=20.90.900+git20240316.6ad6353
	conflicts = kodi-ffmpeg-dev
	conflicts = kodi-git-ffmpeg-dev
