pkgbase = mesa-asahi-git
	pkgdesc = An open-source implementation of the OpenGL specification
	pkgver = 24.1.0+git20240430.9e86906
	pkgrel = 1
	url = https://www.mesa3d.org/
	arch = aarch64
	license = custom
	makedepends = python-mako
	makedepends = libxml2
	makedepends = libx11
	makedepends = xorgproto
	makedepends = libdrm
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = libxdamage
	makedepends = libvdpau
	makedepends = libva
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = zstd
	makedepends = elfutils
	makedepends = llvm
	makedepends = libomxil-bellagio
	makedepends = libclc
	makedepends = clang
	makedepends = libglvnd
	makedepends = libunwind
	makedepends = lm_sensors
	makedepends = libxrandr
	makedepends = systemd
	makedepends = valgrind
	makedepends = glslang
	makedepends = vulkan-icd-loader
	makedepends = directx-headers
	makedepends = cmake
	makedepends = meson
	makedepends = spirv-tools
	makedepends = spirv-llvm-translator
	options = debug
	options = !lto
	source = https://gitlab.freedesktop.org/asahi/mesa/-/archive/9e86906a90fef7efb75c3411896779ad5bb37446/mesa-9e86906a90fef7efb75c3411896779ad5bb37446.tar.gz
	source = LICENSE
	sha512sums = 9b80cdeb237e3afefa0ea96fe3e1d38978fd5364a55b7fbe0fd984234192564aedc392a1102639e6edab9d04a6508ba225f4b4f4218152feee9bbd25734a34b6
	sha512sums = f9f0d0ccf166fe6cb684478b6f1e1ab1f2850431c06aa041738563eb1808a004e52cdec823c103c9e180f03ffc083e95974d291353f0220fe52ae6d4897fecc7

pkgname = vulkan-swrast-asahi-git
	pkgdesc = Vulkan software rasteriser driver
	depends = wayland
	depends = libx11
	depends = libxshmfence
	depends = libdrm
	depends = zstd
	depends = llvm-libs
	depends = systemd-libs
	depends = libunwind
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
	provides = vulkan-swrast
	conflicts = vulkan-mesa
	conflicts = vulkan-swrast
	conflicts = vulkan-swrast-asahi-edge
	replaces = vulkan-mesa
	replaces = vulkan-swrast-asahi-edge

pkgname = mesa-asahi-git
	depends = libdrm
	depends = wayland
	depends = libxxf86vm
	depends = libxdamage
	depends = libxshmfence
	depends = libelf
	depends = libomxil-bellagio
	depends = libunwind
	depends = llvm-libs
	depends = lm_sensors
	depends = libglvnd
	depends = zstd
	depends = vulkan-icd-loader
	depends = libsensors.so
	depends = libexpat.so
	depends = libvulkan.so
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = mesa-libgl
	provides = opengl-driver
	provides = mesa
	conflicts = mesa-libgl
	conflicts = mesa
	conflicts = mesa-asahi-edge
	replaces = mesa-libgl
	replaces = mesa-asahi-edge
