pkgbase = mesa-asahi-git
	pkgdesc = An open-source implementation of the OpenGL specification
	pkgver = 23.3.0+git20230905.67ff98c
	pkgrel = 2
	url = https://www.mesa3d.org/
	arch = aarch64
	license = custom
	makedepends = python-mako
	makedepends = libxml2
	makedepends = libx11
	makedepends = xorgproto
	makedepends = libdrm
	makedepends = libxshmfence
	makedepends = libxxf86vm
	makedepends = libxdamage
	makedepends = libvdpau
	makedepends = libva
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = zstd
	makedepends = elfutils
	makedepends = llvm
	makedepends = libomxil-bellagio
	makedepends = libclc
	makedepends = clang
	makedepends = libglvnd
	makedepends = libunwind
	makedepends = lm_sensors
	makedepends = libxrandr
	makedepends = systemd
	makedepends = valgrind
	makedepends = glslang
	makedepends = vulkan-icd-loader
	makedepends = directx-headers
	makedepends = cmake
	makedepends = meson
	options = debug
	options = !lto
	source = https://gitlab.freedesktop.org/asahi/mesa/-/archive/67ff98cbaeb4d6b7262f699664c592ebd2b90b88/mesa-67ff98cbaeb4d6b7262f699664c592ebd2b90b88.tar.gz
	source = LICENSE
	sha512sums = 3c3343adc88e5c0e2eb2b7fb668b3b6ca85fee49c6f255c0da967aec472acab4d92bcbb0c36e901929c59f95374fa5f3aee7a18cc8539bd05f024bd3aae92fda
	sha512sums = f9f0d0ccf166fe6cb684478b6f1e1ab1f2850431c06aa041738563eb1808a004e52cdec823c103c9e180f03ffc083e95974d291353f0220fe52ae6d4897fecc7

pkgname = vulkan-swrast-asahi-git
	pkgdesc = Vulkan software rasteriser driver
	depends = wayland
	depends = libx11
	depends = libxshmfence
	depends = libdrm
	depends = zstd
	depends = llvm-libs
	depends = systemd-libs
	depends = libunwind
	optdepends = vulkan-mesa-layers: additional vulkan layers
	provides = vulkan-driver
	provides = vulkan-swrast
	conflicts = vulkan-mesa
	conflicts = vulkan-swrast
	conflicts = vulkan-swrast-asahi-edge
	replaces = vulkan-mesa
	replaces = vulkan-swrast-asahi-edge

pkgname = mesa-asahi-git
	depends = libdrm
	depends = wayland
	depends = libxxf86vm
	depends = libxdamage
	depends = libxshmfence
	depends = libelf
	depends = libomxil-bellagio
	depends = libunwind
	depends = llvm-libs
	depends = lm_sensors
	depends = libglvnd
	depends = zstd
	depends = vulkan-icd-loader
	depends = libsensors.so
	depends = libexpat.so
	depends = libvulkan.so
	optdepends = opengl-man-pages: for the OpenGL API man pages
	provides = mesa-libgl
	provides = opengl-driver
	provides = mesa
	conflicts = mesa-libgl
	conflicts = mesa
	conflicts = mesa-asahi-edge
	replaces = mesa-libgl
	replaces = mesa-asahi-edge
