pkgbase = kodi-addon-audiodecoder-sacd-omega
	pkgdesc = SACD audiodecoder addon for Kodi
	pkgver = 21.0.0+git20240216.aa1f322
	pkgrel = 1
	url = https://github.com/xbmc/audiodecoder.sacd
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	makedepends = wavpack
	depends = kodi-omega
	depends = wavpack
	provides = kodi-addon-audiodecoder-sacd
	conflicts = kodi-addon-audiodecoder-sacd
	conflicts = kodi-addon-audiodecoder-sacd-git
	source = kodi-addon-audiodecoder-sacd-omega::git+https://github.com/xbmc/audiodecoder.sacd.git#commit=aa1f322d3e5bef3df4096aefaf1bb25bac2c7a26
	b2sums = SKIP

pkgname = kodi-addon-audiodecoder-sacd-omega
