pkgbase = kodi-addon-pvr-magenta-omega
	pkgdesc = MagentaTV PVR addon for Kodi
	pkgver = 21.9.0+git20240319.147e7fc
	pkgrel = 1
	url = https://github.com/nirvana-7777/pvr.magenta
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	makedepends = rapidjson
	depends = kodi-omega
	depends = kodi-addon-inputstream-adaptive-omega
	provides = kodi-addon-pvr-magenta
	conflicts = kodi-addon-pvr-magenta
	conflicts = kodi-addon-pvr-magenta-git
	source = kodi-addon-pvr-magenta-omega::git+https://github.com/nirvana-7777/pvr.magenta.git#commit=147e7fca86d8c4941e7940aba3af99bf40624f0d
	source = fixtinyxml.patch
	b2sums = SKIP
	b2sums = 4c2d32d6c4561b85944381c72944fe6dd3ac0095807b3d4ba35ea572805e499781fcecc976f225ebcbb1bcd31464848cd3c85175ed9c50af7c6a874bee135e36

pkgname = kodi-addon-pvr-magenta-omega
