pkgbase = linux-aarch64-rpi
	pkgver = 6.0.10
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	options = !strip
	source = https://github.com/herrnst/linux-raspberrypi/archive/refs/tags/v6.0.10-rpi.tar.gz
	source = 0001-arm64-dts-rockchip-disable-pwm0-on-rk3399-firefly.patch
	source = config
	source = linux.preset
	source = 60-linux.hook
	source = 90-linux.hook
	source = Kconfig-depends.patch
	md5sums = cce8664faba261cd0e527c4e44984175
	md5sums = 3b781286c0b97cec552ad6c8a7a019dd
	md5sums = dc504a00fcbdf35d028d4b380ce754f9
	md5sums = 41cb5fef62715ead2dd109dbea8413d6
	md5sums = 0a5f16bfec6ad982a2f6782724cca8ba
	md5sums = 3dc88030a8f2f5a5f97266d99b149f77
	md5sums = 8dddd0b22bfb465211df6189c70d66ea

pkgname = linux-aarch64-rpi

pkgname = linux-aarch64-rpi-headers
