pkgbase = kodi-nexus
	pkgver = 20.3+git20240110.1cd4c33
	pkgrel = 1
	url = https://kodi.tv
	arch = aarch64
	arch = x86_64
	license = GPL2
	makedepends = afpfs-ng
	makedepends = bluez-libs
	makedepends = cmake
	makedepends = curl
	makedepends = doxygen
	makedepends = git
	makedepends = glew
	makedepends = gperf
	makedepends = hicolor-icon-theme
	makedepends = java-environment<21
	makedepends = libaacs
	makedepends = libass
	makedepends = libbluray
	makedepends = libcdio
	makedepends = libcec
	makedepends = libgl
	makedepends = mariadb-libs
	makedepends = libmicrohttpd
	makedepends = libmodplug
	makedepends = libmpeg2
	makedepends = libnfs
	makedepends = libplist
	makedepends = libpulse
	makedepends = libva
	makedepends = libva-vdpau-driver
	makedepends = libxrandr
	makedepends = libxslt
	makedepends = lirc
	makedepends = lzo
	makedepends = mesa
	makedepends = nasm
	makedepends = python-pycryptodomex
	makedepends = python-pillow
	makedepends = python-pybluez
	makedepends = python-simplejson
	makedepends = shairplay
	makedepends = smbclient
	makedepends = taglib
	makedepends = tinyxml
	makedepends = swig
	makedepends = upower
	makedepends = giflib
	makedepends = rapidjson
	makedepends = ghostscript
	makedepends = meson
	makedepends = gtest
	makedepends = graphviz
	makedepends = rapidjson
	makedepends = flatbuffers
	makedepends = fmt
	makedepends = spdlog
	makedepends = pcre
	makedepends = wayland-protocols
	makedepends = waylandpp
	makedepends = libxkbcommon
	makedepends = libinput
	noextract = libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz
	noextract = libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz
	noextract = ffmpeg-6.0-mathops.tar.gz
	noextract = crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	noextract = fstrcmp-0.7.D001.tar.gz
	noextract = libudfread-1.1.2.tar.gz
	options = !lto
	source = git+https://github.com/herrnst/xbmc.git#commit=1cd4c3391f66657e395de0956434600e0680ffb4
	source = libdvdcss-1.4.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdcss/archive/1.4.3-Next-Nexus-Alpha2-2.tar.gz
	source = libdvdnav-6.1.1-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdnav/archive/6.1.1-Next-Nexus-Alpha2-2.tar.gz
	source = libdvdread-6.1.3-Next-Nexus-Alpha2-2.tar.gz::https://github.com/xbmc/libdvdread/archive/6.1.3-Next-Nexus-Alpha2-2.tar.gz
	source = ffmpeg-6.0-mathops.tar.gz::https://github.com/herrnst/FFmpeg/archive/refs/tags/n6.0-mathops.tar.gz
	source = https://code.videolan.org/videolan/dav1d/-/archive/1.1.0/dav1d-1.1.0.tar.bz2
	source = http://mirrors.kodi.tv/build-deps/sources/crossguid-ca1bf4b810e2d188d04cb6286f957008ee1b7681.tar.gz
	source = http://mirrors.kodi.tv/build-deps/sources/fstrcmp-0.7.D001.tar.gz
	source = http://mirrors.kodi.tv/build-deps/sources/libudfread-1.1.2.tar.gz
	source = cheat-sse-build.patch
	source = ffmpeg-shasum.patch
	b2sums = SKIP
	b2sums = 2f503d3ab767094958f7ec10b4ad11ffd02665deee571c8f3c739bef5fc7e2ff84babc5a3fdee638dc095f896b72fe3ce65e6b688674cb5f7b7b77190992688c
	b2sums = db4d05836d8fbb3637ae50bdbfc0e4b612ee6b3be24addfea94ce772c3bf28d58b63a3f252d6f9f016f72f8cbb841cc1820b091226b136f4c4664385a32da73c
	b2sums = c94feb5a03a12efa5b7767965118d2500a088299ea36f3b82e46d157e45893e6b04503cb50f179ca681bac914457607fab26acfa6e304752b355c407578572d1
	b2sums = a7ee5446ffe25268468d5333cba5f893ef0da82425f8fb3d6c22ce6b1f3e9fda206e08f0ad28814537d746db46e428b17642f3bd9dba6e8aeaa729a31f67b220
	b2sums = 877fd315fb00cb37c80f128c871641b8dbc4a7c9edb3d81afe00e65cb907ed88bcc10e2f92855d1eef51e196a7ae6d189db16dcf0e151f7ca9db715451bd28f5
	b2sums = 0f78a8ab5a420297f666b3b8156d499a9141ec25c049d4d2bb2ba594dc585abe211a149b83c605cce4f5530207231a065d5f3a87a0c969781de8c6381afa2527
	b2sums = a8b68fcb8613f0d30e5ff7b862b37408472162585ca71cdff328e3299ff50476fd265467bbd77b352b22bb88c590969044f74d91c5468475504568fd269fa69e
	b2sums = 1801d84a0ca38410a78f23e7d44f37e6d53346753c853df2e7380d259ce1ae7f0c712825b95a5753ad0bc6360cfffe1888b9e7bc30da8b84549e0f1198248f61
	b2sums = 6d647177380c619529fb875374ec46f1fff6273be1550f056c18cb96e0dea8055272b47664bb18cdc964496a3e9007fda435e67c4f1cee6375a80c048ae83dd0
	b2sums = 78a6d8b144f83669a003c73516df28ec3ea01dab9761e7d909abfd963fa6c52a15313dd79a83058b35d1849d83b4f695a5eb67ce3bb496a8cf5e64c2e4407a39

pkgname = kodi-nexus
	pkgdesc = A software media player and entertainment hub for digital media (patched Nexus branch)
	depends = bluez-libs
	depends = curl
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libass
	depends = libbluray
	depends = libcdio
	depends = libcec
	depends = libmicrohttpd
	depends = libnfs
	depends = libplist
	depends = libpulse
	depends = libva
	depends = libvdpau
	depends = libxslt
	depends = lirc
	depends = mariadb-libs
	depends = mesa
	depends = python-pillow
	depends = python-pycryptodomex
	depends = python-simplejson
	depends = shairplay
	depends = smbclient
	depends = sqlite
	depends = taglib
	depends = tinyxml
	depends = libxrandr
	depends = libxkbcommon
	depends = waylandpp
	depends = libinput
	depends = fmt
	depends = spdlog
	depends = pcre
	optdepends = afpfs-ng: Apple shares support
	optdepends = bluez: Blutooth support
	optdepends = python-pybluez: Bluetooth support
	optdepends = pulseaudio: PulseAudio support
	optdepends = upower: Display battery level
	provides = kodi=20.3+git20240110.1cd4c33
	provides = kodi-x11
	provides = kodi-wayland
	provides = kodi-gbm
	conflicts = kodi
	conflicts = kodi-x11
	conflicts = kodi-wayland
	conflicts = kodi-gbm
	conflicts = kodi-git
	replaces = kodi
	replaces = kodi-x11
	replaces = kodi-wayland
	replaces = kodi-gbm
	replaces = kodi-git

pkgname = kodi-nexus-eventclients
	pkgdesc = Kodi Event Clients (patched Nexus branch)
	optdepends = kodi: local machine eventclient use
	optdepends = python: most eventclients are implemented in python
	provides = kodi-eventclients=20.3+git20240110.1cd4c33
	conflicts = kodi-eventclients
	conflicts = kodi-git-eventclients

pkgname = kodi-nexus-tools-texturepacker
	pkgdesc = Kodi Texturepacker tool (patched Nexus branch)
	depends = libpng
	depends = giflib
	depends = libjpeg-turbo
	depends = lzo
	provides = kodi-tools-texturepacker=20.3+git20240110.1cd4c33
	conflicts = kodi-tools-texturepacker
	conflicts = kodi-git-tools-texturepacker

pkgname = kodi-nexus-dev
	pkgdesc = Kodi dev files (patched Nexus branch)
	depends = kodi-nexus
	provides = kodi-dev=20.3+git20240110.1cd4c33
	conflicts = kodi-dev
	conflicts = kodi-git-dev

pkgname = kodi-nexus-ffmpeg-dev
	pkgdesc = Kodi FFmpeg dev files (patched Nexus branch)
	depends = kodi-nexus
	provides = kodi-ffmpeg-dev=20.3+git20240110.1cd4c33
	conflicts = kodi-ffmpeg-dev
	conflicts = kodi-git-ffmpeg-dev
