pkgbase = kodi-addon-inputstream-ffmpegdirect-nexus
	pkgdesc = FFmpegdirect Inputstream addon for Kodi
	pkgver = 20.6.0+git20240111.7ba8f54
	pkgrel = 1
	url = https://github.com/herrnst/inputstream.ffmpegdirect
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-nexus-dev
	makedepends = kodi-nexus-ffmpeg-dev
	makedepends = pkgconf
	makedepends = git
	makedepends = cmake
	makedepends = yasm
	makedepends = zlib
	makedepends = bzip2
	depends = kodi-nexus
	depends = zlib
	depends = bzip2
	depends = libva
	provides = kodi-addon-inputstream-ffmpegdirect
	conflicts = kodi-addon-inputstream-ffmpegdirect
	conflicts = kodi-addon-inputstream-ffmpegdirect-git
	source = kodi-addon-inputstream-ffmpegdirect-nexus::git+https://github.com/herrnst/inputstream.ffmpegdirect.git#commit=7ba8f54cb4c42198f6aad7707beef01e0c2e4128
	sha256sums = SKIP

pkgname = kodi-addon-inputstream-ffmpegdirect-nexus
