pkgbase = kodi-addon-pvr-plutotv-omega
	pkgdesc = Pluto.tv PVR addon for Kodi
	pkgver = 21.3.1+git20240728.d0772e5
	pkgrel = 1
	url = https://github.com/kodi-pvr/pvr.plutotv
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	makedepends = rapidjson
	depends = kodi-omega
	depends = kodi-addon-inputstream-adaptive-omega
	provides = kodi-addon-pvr-plutotv
	conflicts = kodi-addon-pvr-plutotv
	conflicts = kodi-addon-pvr-plutotv-git
	source = kodi-addon-pvr-plutotv-omega::git+https://github.com/kodi-pvr/pvr.plutotv.git#commit=d0772e5b467999257785401db2c4e5f1b63f7eea
	b2sums = SKIP

pkgname = kodi-addon-pvr-plutotv-omega
