pkgbase = linux-aarch64-asahi
	pkgver = 6.6.9
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = bc
	makedepends = dtc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = rust
	makedepends = rust-src
	makedepends = rust-bindgen
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	options = !strip
	source = https://github.com/herrnst/linux-asahi/archive/refs/tags/v6.6.9-asahi.tar.gz
	source = config
	sha256sums = 681d4908af5e1a6fbbbac243bcbc997e8543a298a6917793fbbf93b86d7d1e27
	sha256sums = 0586b516528e43e688c12740439c1e66380d89da34fbd0a150d51836ba2a9f25
	b2sums = c95f39fb9d8b8c63ba6d0c415879728381cd7cd552a4b4e6693b3305d2df6999d44a68afe720b3d9009e02fa3163084490c8516bde201f9554ceaf91ca78bb66
	b2sums = 719376286af63fa99f78ac76d4eccc00df6d0a08126744afbc45444eb383244e8f43901e60c6cd668f21e5230aee8213ce1574fdf94af4292af9dcd05455cabe

pkgname = linux-aarch64-asahi
	pkgdesc = The kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = m1n1>=1.3.2
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = WIREGUARD-MODULE
	provides = linux=6.6.9
	provides = linux-asahi
	conflicts = linux
	replaces = wireguard-arch
	replaces = linux-aarch64-asahi-edge

pkgname = linux-aarch64-asahi-headers
	pkgdesc = Headers and scripts for building modules for the kernel
	depends = pahole
