pkgbase = kodi-addon-pvr-hts-omega
	pkgdesc = HTS/TVHeadend PVR addon for Kodi
	pkgver = 21.1.2+git20231115.1b2152b
	pkgrel = 1
	url = https://github.com/kodi-pvr/pvr.hts
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	depends = kodi-omega
	provides = kodi-addon-pvr-hts
	conflicts = kodi-addon-pvr-hts
	conflicts = kodi-addon-pvr-hts-git
	source = kodi-addon-pvr-hts-omega::git+https://github.com/kodi-pvr/pvr.hts.git#commit=1b2152bbda3b33d006f41d3522abc678e2cdd2bf
	b2sums = SKIP

pkgname = kodi-addon-pvr-hts-omega
