pkgbase = kodi-addon-inputstream-adaptive-omega
	pkgdesc = Inputstream Adaptive addon for Kodi
	pkgver = 21.4.5+git20240413.1bad742
	pkgrel = 1
	url = https://github.com/xbmc/inputstream.adaptive
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	makedepends = rapidjson
	depends = kodi-omega
	depends = expat
	depends = rapidjson
	provides = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive-git
	source = kodi-addon-inputstream-adaptive-omega::git+https://github.com/xbmc/inputstream.adaptive.git#commit=1bad7424bfc6960051cf0bd2d07ef1613ef0fd6b
	source = bento4-1.6.0-641-Omega.tar.gz::https://github.com/xbmc/Bento4/archive/refs/tags/1.6.0-641-Omega.tar.gz
	b2sums = SKIP
	b2sums = b1a92d4688731fc626327ec4900bc4808e04e496fb44d6ff711bdf427c0aa98dd785c4c9e6a31ea6f141e938199cacdaf34c7579a9b8ca58c767cf69c26d79a0

pkgname = kodi-addon-inputstream-adaptive-omega
