pkgbase = kodi-addon-inputstream-adaptive-omega
	pkgdesc = Inputstream Adaptive addon for Kodi
	pkgver = 21.4.0+git20231222.c35451d
	pkgrel = 1
	url = https://github.com/xbmc/inputstream.adaptive
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	depends = kodi-omega
	depends = expat
	provides = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive-git
	source = kodi-addon-inputstream-adaptive-omega::git+https://github.com/xbmc/inputstream.adaptive.git#commit=c35451d2eea2cf9485644ebfd508986bfec8d382
	source = bento4-1.6.0-639-8-Omega.tar.gz::https://github.com/xbmc/Bento4/archive/refs/tags/1.6.0-639-8-Omega.tar.gz
	b2sums = SKIP
	b2sums = 7f1b42e9643e88d39ee88e6804358789d491101d4edadc9fa152d8f2258f1dffef2c2c5a1da7928510778843019d0257924134a5d6177442c30783b7492aaa04

pkgname = kodi-addon-inputstream-adaptive-omega
