pkgbase = kodi-addon-inputstream-adaptive-omega
	pkgdesc = Inputstream Adaptive addon for Kodi
	pkgver = 21.5.7+git20241116.b585676
	pkgrel = 1
	url = https://github.com/xbmc/inputstream.adaptive
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-omega-dev
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	makedepends = rapidjson
	depends = kodi-omega
	depends = expat
	depends = rapidjson
	provides = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive-git
	source = kodi-addon-inputstream-adaptive-omega::git+https://github.com/xbmc/inputstream.adaptive.git#commit=b585676accf876f29c496062a57ce55d1cd77e42
	source = bento4-1.6.0-641-3-Omega.tar.gz::https://github.com/xbmc/Bento4/archive/refs/tags/1.6.0-641-3-Omega.tar.gz
	b2sums = SKIP
	b2sums = ae38a7f0f155efb3e31f2fb3ffeec29ae68ed524307c277e3b522ee60b0d7fa1ae8b35931837bddbba90d91c69ce51b81c7ecf9c3559ca5d6fde401aacb36327

pkgname = kodi-addon-inputstream-adaptive-omega
