pkgbase = kodi-addon-inputstream-adaptive-nexus
	pkgdesc = Inputstream Adaptive addon for Kodi
	pkgver = 20.3.16+git20240107.4f56bc1
	pkgrel = 1
	url = https://github.com/xbmc/inputstream.adaptive
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-nexus-dev
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	depends = kodi-nexus
	depends = expat
	provides = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive-git
	source = kodi-addon-inputstream-adaptive-nexus::git+https://github.com/xbmc/inputstream.adaptive.git#commit=4f56bc19a479f467bf326d9ec4bd47f12da6c1ae
	source = bento4-1.6.0-639-7-Omega.tar.gz::https://github.com/xbmc/Bento4/archive/refs/tags/1.6.0-639-7-Omega.tar.gz
	source = gcc13.patch
	b2sums = SKIP
	b2sums = 0636f0c94ebb3246c8720e120f3b505e4a82ed2e37d9ed44351875dcf3fab8bc2e53b83e0be43fb711aac3144d6df3d8ae2ead24fcd55bd116f3c54f07e3c19f
	b2sums = 4858e4bfc0f4e300bd25eda010571c76e9824f436734b2cfd7415641babe5324362e7819766ce5234f48fa5f8a2390bd608ed962ef881370f485a995fac0425c

pkgname = kodi-addon-inputstream-adaptive-nexus
