pkgbase = kodi-addon-inputstream-adaptive-nexus
	pkgdesc = Inputstream Adaptive addon for Kodi
	pkgver = 20.3.8+git20230512.3c62153
	pkgrel = 1
	url = https://github.com/xbmc/inputstream.adaptive
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = GPL2
	makedepends = kodi-nexus-dev
	makedepends = git
	makedepends = cmake
	makedepends = gtest
	depends = kodi-nexus
	depends = expat
	provides = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive
	conflicts = kodi-addon-inputstream-adaptive-git
	source = kodi-addon-inputstream-adaptive-nexus::git+https://github.com/xbmc/inputstream.adaptive.git#commit=3c6215343a62c2af20cae30265e3a166e8b67db5
	source = bento4-1.6.0-639-7-Omega.tar.gz::https://github.com/xbmc/Bento4/archive/refs/tags/1.6.0-639-7-Omega.tar.gz
	source = gcc13.patch
	b2sums = SKIP
	b2sums = 0636f0c94ebb3246c8720e120f3b505e4a82ed2e37d9ed44351875dcf3fab8bc2e53b83e0be43fb711aac3144d6df3d8ae2ead24fcd55bd116f3c54f07e3c19f
	b2sums = df69f2dc78d489ee6af0d0b7b5e61e9765063b7b4a0cb91af6ee3485063819226776f3cf851c1cb9ef7d19c3f90aaaae634a208c9544ea09ecb135cce9948270

pkgname = kodi-addon-inputstream-adaptive-nexus
