pkgbase = linux-aarch64-asahi-edge
	pkgver = 6.3.9
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = bc
	makedepends = dtc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = rust
	makedepends = rust-src
	makedepends = rust-bindgen
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	options = !strip
	source = https://github.com/herrnst/linux-asahi/archive/refs/tags/v6.3.9-asahi.tar.gz
	source = config
	sha256sums = 70071a3403994ca6d208bede2ba3a6fc09feb05cf930b94c9434a15ea8c7d474
	sha256sums = c6ce2bdde835e4ce5d670d6541c91937e92fb83fadea940d7288a938357b17de
	b2sums = 12bc2ccb5c5c292e3543737ab86baa249bec42e0f76381e68b10b1693f030d737bd2731b45454b29ea896230385de0e116b0a78d60dbbb45f7468afece937809
	b2sums = d3f20f9e14afb0521950311dbad4a5fa3569520b291c353342e16640ad344f52b8ce3a97865b2f59cbb52051bdb2443013605237084ad62cea451a2e18dd4830

pkgname = linux-aarch64-asahi-edge
	pkgdesc = The kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = m1n1>=1.2.8
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = WIREGUARD-MODULE
	provides = linux=6.3.9
	provides = linux-asahi
	conflicts = linux
	replaces = wireguard-arch

pkgname = linux-aarch64-asahi-edge-headers
	pkgdesc = Headers and scripts for building modules for the kernel
	depends = pahole
