pkgbase = linux-aarch64-asahi-edge
	pkgver = 6.3.11
	pkgrel = 1
	url = http://www.kernel.org/
	arch = aarch64
	license = GPL2
	makedepends = bc
	makedepends = dtc
	makedepends = kmod
	makedepends = libelf
	makedepends = pahole
	makedepends = cpio
	makedepends = perl
	makedepends = rust
	makedepends = rust-src
	makedepends = rust-bindgen
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	options = !strip
	source = https://github.com/herrnst/linux-asahi/archive/refs/tags/v6.3.11-asahi.tar.gz
	source = config
	sha256sums = 9012d80cc4128f8d5aa37a3346c7d50a3e18f788943a7b4190600ed221d1d5ef
	sha256sums = c6ce2bdde835e4ce5d670d6541c91937e92fb83fadea940d7288a938357b17de
	b2sums = 4b59220c0aa7de4dc06b5fd380b2eb711f77a46f3dac8ef196d62f3b495f89b0f0858738b3b9fd05d318be450b748f2819e97d287e3d1b38014c1a4d99597672
	b2sums = d3f20f9e14afb0521950311dbad4a5fa3569520b291c353342e16640ad344f52b8ce3a97865b2f59cbb52051bdb2443013605237084ad62cea451a2e18dd4830

pkgname = linux-aarch64-asahi-edge
	pkgdesc = The kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	depends = m1n1>=1.2.8
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = WIREGUARD-MODULE
	provides = linux=6.3.11
	provides = linux-asahi
	conflicts = linux
	replaces = wireguard-arch

pkgname = linux-aarch64-asahi-edge-headers
	pkgdesc = Headers and scripts for building modules for the kernel
	depends = pahole
